SECRET_KEY=your-secret-key-here
DEBUG=True
SITE_NAME=GarageManager

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME

ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000

FROM_EMAIL=your-email@example.com
EMAIL_HOST=in-v3.mailjet.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-mailjet-api-key
EMAIL_HOST_PASSWORD=your-mailjet-secret-key

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379

# SIMPLE_JWT
ACCESS_TOKEN_LIFETIME=30
REFRESH_TOKEN_LIFETIME=1
