{% extends 'shared/create_update_form.html' %}

{% block form_icon %}bi bi-patch-check-fill fs-4{% endblock %}
{% block form_title %}Success!{% endblock %}
{% block form_description %}Your password has been updated.{% endblock %}

{% block form_block %}
    <p class="text-secondary">
You can now use your new password to log into your account.
    </p>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary px-4">
        <i class="bi bi-box-arrow-in-right me-2"></i>Back to Login
    </a>
{% endblock %}